<footer>
	<div class="container">
		<div class="row">
			<div class="span3">
				<div class="object">
					<h3>Get it from</h3>
					<ul>
						<li><a href="https://bitbucket.org/weazl/cachetag" target="_blank">BitBucket</a></li>
						<li><a href="http://nuget.org/packages/CacheTag/" target="_blank">NuGet</a></li>
					</ul>
				</div>
			</div>
			<div class="span3">
				<div class="object">
					<h3>Related sites</h3>
					<ul>
						<li><a href="http://cachetag.net/" target="_blank">cachetag.net</a></li>
						<li><a href="https://steamcore.se/" target="_blank">steamcore.se</a></li>
					</ul>
				</div>
			</div>
			<div class="span3">
				<div class="object">
					<h3>Modules</h3>
					<ul>
						<li>AjaxMin - JS and CSS minification</li>
						<li>DotLess - .less support</li>
						<li>SassAndCoffee - .coffee support</li>
					</ul>
				</div>
			</div>
			<div class="span3">
				<div class="object">
					<h3>Depends on</h3>
					<ul>
						<li><a href="http://nuget.org/packages/Microsoft.Web.Infrastructure" target="_blank">Microsoft.Web.Infrastructure</a></li>
						<li>System.Web.Mvc</li>
						<li><a href="http://nuget.org/packages/WebActivator" target="_blank">WebActivator</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
