<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="http://cachetag.net/" target="_blank">cachetag.net</a></li>
					<li><a href="https://steamcore.se/" target="_blank">steamcore.se</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
